@use './foundations/css-variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: Roboto;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
}

img {
  max-width: 100%;
}
