name: Lint

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Check lint
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm run lint
