name: Typecheck

on:
  pull_request:
    branches:
      - main

jobs:
  typecheck:
    runs-on: ubuntu-latest
    name: Check type errors
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npx nuxi typecheck
